@model ProjektPZ.Models.Award

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Award</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfWining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfWining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForWhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForWhat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
