@model ProjektPZ.Models.Review

@{
    ViewBag.Title = "Rencenzja filmu";
}

<h2>@Model.Film.Title</h2>
<div style="width:50%">
    <h4>Recenzja użytkownika @Model.User.UserName.Split('@')[0]</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.Identity.Name.Equals(Model.User.UserName))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
    }
    @if (Context.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Usuń", "Delete", new { id = Model.ID })
    }
    <a href="/Films/Details/@Model.Film.ID">Powrót do filmu</a>
</p>
